.start_slider::-webkit-slider-thumb {
    visibility: visible;
    background: green;
    appearance: none;
    width: 10px;
    height: 30px;
    cursor: grab;
}
.start_slider::-moz-range-thumb {
    visibility: visible;
    background: green;
    appearance: none;
    width: 10px;
    height: 30px;
    cursor: grab;
}
.end_slider::-webkit-slider-thumb {
    visibility: visible;
    background: red;
    appearance: none;
    width: 10px;
    height: 30px;
    cursor: grab;
}
.end_slider::-moz-range-thumb {
    visibility: visible;
    background: red;
    appearance: none;
    width: 10px;
    height: 30px;
    cursor: grab;
}
